nav{
    font-size: x-large;
}
header{
    background: black;
    background-image: linear-gradient( to bottom, transparent, black), url(./images/backgrounds/mixedBerries.jpg);
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 10rem;
    color: white;
    text-shadow: 10px 10px 10px black;
    font-family: 'Lobster', cursive;
}
header h2{
    color: white;
    text-shadow: 10px 10px 10px black;
    font-size: 3rem;
}
main{
    padding: 1% 5%;
    background: black;
}
.about, .contact, .products{
    border-radius: 50px;
background: #e0e0e0;
box-shadow: inset 29px 29px 58px #bebebe,
            inset -29px -29px 58px #ffffff;
    border-radius: 25px;
    background-color: white;
    padding: 2%;
    margin: 2%;
}
.about h1, .contact h1, .products h1{
    text-align: center;
    font-size: 4rem;
}
.aboutMessage{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}
.about img{
    margin: 5%;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  29px 29px 58px #7d7d7d,
             -29px -29px 58px #ffffff;
}
.contact h3{
    text-align: center;
}
.contactSection{
    text-align: center;
    margin: 4%;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow:  29px 29px 58px #bebebe,
             -29px -29px 58px #ffffff;
}